# =========================================
# General
# =========================================
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs & Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# =_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=

# =========================================
# Node.js
# =========================================
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache
.npm

# Optional eslint cache
.eslintcache

# =_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=

# =========================================
# React / Vite
# =========================================
# Build output
dist
dist-ssr
.output
build

# Environment variables
.env
.env.local
.env.*.local

# Vite
.vite/

# =_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=

# =========================================
# TypeScript
# =========================================
# TypeScript cache
*.tsbuildinfo

# =_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=